In [2]:
import numpy
import pandas as pd
def shared_peaks(list1,list2):
    """how do I specify list 1 will be a csv file? How can I edit this so that a used can still keep four columns? assign format """
    peak_list1 = pd.read_csv(list1, header='infer')
    peak_list2 = pd.read_csv(list2, header='infer')
    shared_peaks = pd.merge(peak_list1, peak_list2, on=['Accession', 'Gene Name', 'Location'], how='inner')
    return shared_peaks.to_csv("shared_peaks.csv")

##can also open tab delimited text files. use pd.read_csv? for more info on chanign the separator (eg comma seperated file)
##can merge all the file and at the end and only save the columns you want, so no wierd unnamed column in the output

In [3]:
shared_peaks("Promoter_PAM.csv", "Promoter_SB.csv")
##what is unnamed column?? how can i get rid of it ??

In [4]:
shared_pam_sb = pd.read_csv("shared_peaks.csv")
shared_pam_sb.head(5)

,Unnamed: 0,Gene Name,Accession,Location,150618_s11_pdox_k27ac_cc_peaks.bed,151007_s08_k4me3_cc_peaks.bed,AllCommonPeaks_pamlive_trackasbase,macs_pam_dlx3_peaks.bed,pam_peak_smad5.bed,dlx3_combined_cc_peaks.bed,k4me3_combined_cc_peaks.bed,k27ac_combined_cc_peaks.bed,sb_peak_smad5_p1.bed
0,0,Dcun1d5,NM_029775,chr9:7184565-7207031,242.42,1439.68,88,62.93,9.55263,147.81,3100.00,399.21,9.55263
1,1,Vstm5,NM_026955,chr9:15239044-15259413,116.51,131.90,101,86.68,28.65789,176.63,2634.31,115.24,9.55263
2,2,5830418K08Rik,NM_176976,chr9:15316913-15357788,179.42,844.03,124,224.22,9.55263,597.69,3100.00,128.83,9.55263
3,3,Chordc1,NM_025844,chr9:18292266-18314000,133.65,1359.35,148,198.57,19.10526,940.17,3100.00,80.96,19.10526
4,4,Zfp426,NM_001110309,chr9:20468548-20492746,317.41,1848.69,65,198.77,9.55263,132.19,3100.00,268.90,9.55263

In [ ]:
## I want to include a venn diagram step here using matplot_lib-venn module

In [5]:
def peak_name_loci(shared_peaks):
    peaks = pd.read_csv("shared_peaks.csv", header = 'infer')
    peak_loci = peaks[["Gene Name", "Accession", "Location"]]
    return peak_loci.to_csv("shared_peaks_loci.csv")

In [6]:
peak_name_loci("shared_peaks.csv")

In [7]:
shared_peak_loci = pd.read_csv("shared_peaks_loci.csv")
shared_peak_loci.head(5)
##How to get rid of these index columns???

   Unnamed: 0      Gene Name     Accession                Location
0           0        Dcun1d5     NM_029775    chr9:7184565-7207031
1           1          Vstm5     NM_026955  chr9:15239044-15259413
2           2  5830418K08Rik     NM_176976  chr9:15316913-15357788
3           3        Chordc1     NM_025844  chr9:18292266-18314000
4           4         Zfp426  NM_001110309  chr9:20468548-20492746

In [8]:
def rename_cols(shared_peaks):    
    shared_peaks_loci = pd.read_csv("shared_peaks_loci.csv")
    shared_peaks_loci.rename(columns={'Accession':'Transcript', 'Gene Name':'Gene Symbol'}, inplace=True)
    return shared_peaks_loci.to_csv("shared_peaks_loci.csv")
##is there a way to skip the rename??? see pd.merge
##could modify the names in seperate dataframes at the same time and tell it each header for the files types 
## can rename keys then do merge - do want rename columns consistent
##or tell it that the key are equilivant eg gene_name = transcript

In [9]:
rename_cols("shared_peaks_loci.csv")

In [10]:
name_change = pd.read_csv("shared_peaks_loci.csv")
name_change.head(5)
##everytime I rerun my cells, I get a new unnamed column

,Unnamed: 0,Unnamed: 0.1,Gene Symbol,Transcript,Location
0,0,0,Dcun1d5,NM_029775,chr9:7184565-7207031
1,1,1,Vstm5,NM_026955,chr9:15239044-15259413
2,2,2,5830418K08Rik,NM_176976,chr9:15316913-15357788
3,3,3,Chordc1,NM_025844,chr9:18292266-18314000
4,4,4,Zfp426,NM_001110309,chr9:20468548-20492746

In [11]:
def rna_seq_rename(rna_seq):
    rna_seq = pd.read_csv("pam_anova_24h.csv", header = 'infer')
    rna_seq.rename(columns={'p-value(Yes vs. No)':'p-value', 'qvalue(p-value(Yes vs. No))':'q-value','Fold-Change(Yes vs. No)':'fold_change'}, inplace=True)
    return rna_seq.to_csv("rna_seq_rename.csv")

In [12]:
rna_seq_rename("pam_anova_24h.csv")

In [13]:
rna_seq_rename = pd.read_csv("rna_seq_rename.csv")
rna_seq_rename.head()

,Unnamed: 0,Gene Symbol,Transcript,Mean(No),Mean(Yes),p-value,q-value,Ratio(Yes vs. No),fold_change
0,0,Slc26a9,NM_177243,1.45749,-0.752892,5.340000e-09,0.000081,0.216078,-4.62797
1,1,Fcer2a,NM_001253737,-3.15812,-0.133098,1.030000e-07,0.000519,8.139950,8.13995
2,2,Flrt2,NM_201518,2.65284,5.140040,1.900000e-07,0.000720,5.606890,5.60689
3,3,1190002N15Rik,NM_001033145,2.43353,3.084280,2.390000e-07,0.000724,1.569990,1.56999
4,4,Acer3,NM_025408,3.64083,4.551530,3.240000e-07,0.000778,1.879950,1.87995

In [14]:
def rna_seq_format(rna_seq):
    rna_seq = pd.read_csv("rna_seq_rename.csv", header = 'infer')
    rna_seq_format = rna_seq[["Gene Symbol", "Transcript", "p-value", "q-value", "fold_change"]]
    return rna_seq_format.to_csv("rna_seq_format.csv")

In [15]:
rna_seq_format("rna_seq_rename.csv")

In [16]:
rna_seq_format = pd.read_csv("rna_seq_format.csv")
rna_seq_format.head()

,Unnamed: 0,Gene Symbol,Transcript,p-value,q-value,fold_change
0,0,Slc26a9,NM_177243,5.340000e-09,0.000081,-4.62797
1,1,Fcer2a,NM_001253737,1.030000e-07,0.000519,8.13995
2,2,Flrt2,NM_201518,1.900000e-07,0.000720,5.60689
3,3,1190002N15Rik,NM_001033145,2.390000e-07,0.000724,1.56999
4,4,Acer3,NM_025408,3.240000e-07,0.000778,1.87995

In [27]:
def peaks_DEG(shared_peaks, rna_seq):
    """how do I get this to automatically use the output from shared_peaks function??"""
    shared_peaks = pd.read_csv("shared_peaks_loci.csv", header = 'infer')
    rna_seq = pd.read_csv("rna_seq_format.csv", header = 'infer')
    peaks_DEG = pd.merge(left=shared_peaks, right=rna_seq, left_on="Transcript", right_on="Transcript", how='inner')
    return peaks_DEG.to_csv("peaks_DEG.csv")

#peaks_DEG = pd.merge(left=shared_peaks, right=rna_seq, left_on="Accession", right_on="Transcript")
#I also use "shared_peaks" more than once!! check on this

In [28]:
peaks_DEG("shared_peaks_loci.csv", "rna_seq_format.csv")

In [29]:
peaks_DEG_out = pd.read_csv("peaks_DEG.csv")
peaks_DEG_out.head()

,Unnamed: 0,Unnamed: 0_x,Unnamed: 0.1,Gene Symbol_x,Transcript,Location,Unnamed: 0_y,Gene Symbol_y,p-value,q-value,fold_change
0,0,1,1,Vstm5,NM_026955,chr9:15239044-15259413,466,Vstm5,0.001384,0.011859,1.67290
1,1,26,26,Ets1,NM_011808,chr9:32696041-32757820,596,Ets1,0.003686,0.020162,-1.50357
2,2,27,27,Ets1,NM_001038642,chr9:32696041-32757820,968,Ets1,0.048222,0.099001,-1.66244
3,3,50,50,Gtf2a2,NM_001282084,chr9:70012547-70022866,783,Gtf2a2,0.013103,0.042283,-1.95089
4,4,53,53,Gtf2a2,NM_001282083,chr9:70012547-70022866,923,Gtf2a2,0.035344,0.080851,-1.51764

In [ ]:
##docs merge method possibly try outer for these! this will merge the files so that includees not only those peaks that have 
##filled values like nan and then remove those rows possible. or group the data by another column

In [ ]:
##so to combine these 5 function, must run the prior cells. but have one cell that calls the 5 functions at the end 
##see if this produces the output desired 
##to run in command line, you can download as .py script and it